/*** abode font font-family: myriad-pro, sans-serif; ***/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
	width: 100%;
	margin: 0 auto;
}


/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	
	/*height: 110px;*/
	margin: 0 auto;
}
header img {
    border-top: 3px solid #77A466;
    border-bottom: 3px solid #77A466;
}

header h1 {
	float: left;
	margin: 0;
    padding: 1em 0;
    text-transform: uppercase;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 2.875em 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 0.625em;
    display: inline;
    list-style-type: none;
}
header nav ul li a{
	text-decoration: none;
    color:#77a466;
    font-size: 1em;
}


.top-section {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-flow: row wrap;
}
.top-section h2 {
    color: #77a466;
    padding-top: 0.75em;
    text-transform: uppercase;
}
.title {
    font-size: 1em;
    font-family: myriad-pro, sans-serif;
    
}

.top-section,
.bottom-section {
    margin: 0 auto;
    clear: both;
    
}
.bottom-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.bottom-section h3 {
    text-transform: uppercase;
    padding-bottom: 1.25em;
}
.section-one, .section-two{width: 30%;padding: 0;}

.section-one h3 {padding-left: 2em;}
.section-one ul li {
    list-style: none;
}
.section-one ul li a {
    text-decoration: none;
    line-height: 1.7em;
    color: #77a466;
    font-family: myriad-pro, sans-serif; 
}
.section-one ul li a:hover {
    color: rgb(13, 31, 6);
}
.section-one h3 {
	padding-bottom: 1em;
}


.section-two p,
.section-three p {
	line-height: 1.6em;
	font-family: myriad-pro, sans-serif; 
}

.section-three h3 {
    padding-bottom: 1em;
    text-transform: uppercase;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
    line-height: 1.3125em;
    font-weight: normal;
    
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.125em;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer h3 {
    padding-top: 1em;
    text-transform: uppercase;
}
footer span {
	font-family: 'Dancing Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.975em;
}
/* For mobile devices */
@media all 
and (min-width: 320px) and (max-width: 625px) {
	body {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
	}
	.container {
		margin: 0 1.5em 0 1.5em;
		max-width: 1200px;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	/*** HEADER ****/
	header {
		min-width: 320px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em 0;
		
	}
	header h1 {
		float: none;
		font-size: 2em;
		margin-left: 0.5em;
		text-align: center;
		border-bottom: 3px solid #77a466;
	}
	header img {
		width: 18.75em;
		height: 4.625em;
		margin-left: 1em;
	}
	header nav ul li {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	header nav ul li a {
		font-size: 1em;
		padding-bottom: 0.2em;
		line-height: 1.2em;
	}
	/**** TOP-SECTION ***/
	.top-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.top-section h2 {
		font-size: 1em;
	}
	/*** BOTTOM SECTION ***/
	.bottom-section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	.section-one, .section-two, .section-three {

		width: 100%;
	}
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer h3 {
		font-size: 1em;
	}

}
/**** For Tablets devices ****/
@media all and (min-width: 625px) and (max-width: 1024px) {
	.container {
		margin: 0 1.25em 0 1.25rem;
		max-width: 1024;
		width: 90%;
	}
	header{
		font-size: 1.0em;
		display: flex;
		justify-content: center;
		align-items: center;
	
	}
	
	header h1 {text-align: center; margin: auto 5.75em;}
	header img {width: 43.3125em; height: 10.8125em;}
	
	.top-section {
		display: flex;
		justify-content: left;
		align-items: center;
		flex-flow: row wrap;
	}
	.bottom-section {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	/*.section-one {
		margin-left: 1em;
	}*/
}

@media all 
and (min-width: 1000px) 
and (max-width: 1600px)
and (orientation: landscape) {
	
	.bottom-section {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

